<nav class="nav">
  <ul #navList class="nav-lists">
    <li class="nav-list">
      <a data-cursor-stick class="btn" routerLink="people" routerLinkActive="active">People</a>
    </li>
    <li class="nav-list">
      <a data-cursor-stick class="btn" routerLink="species" routerLinkActive="active">Species</a>
    </li>
    <li class="nav-list">
      <a data-cursor-stick class="btn" routerLink="planets" routerLinkActive="active">Planets</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
