<form class="search-form" [formGroup]="formGroup" (ngSubmit)="doSearchDataChange()">
  <span class="paginate-no">
    {{ formGroup.controls.page.value? formGroup.controls.page.value : '1' }}
    /
    {{ pages }}
  </span>

  <div class="paginate">

    <button class="np-btn"type="button" [disabled]="!data.previous" (click)="doPageChange(data.previous)">
      <i class='bx bx-chevron-left' ></i>
    </button>

    <div class="search">
      <form [formGroup]="formGroup" (ngSubmit)="doSearchDataChange()">
        <button data-cursor="-color-black" data-cursor-text="Search" class="search-search" type="submit"><i class='bx bx-search'></i></button>
        <input class="search-box" type="text" formControlName="search" />
        <button data-cursor="-color-black" data-cursor-text="Clear" class="search-remove" type="button" (click)="clearSearchInput()"><i class='bx bx-trash'></i></button>
      </form>

    </div>



    <button class="np-btn" type="button" [disabled]="!data.next" (click)="doPageChange(data.next)">
      <i class='bx bx-chevron-right' ></i>
    </button>

  </div>


</form>

<div class="data-box">
  <ul *ngIf="data.results.length > 0; else notfound">
    <li data-cursor="-color-black" data-cursor-text="View" class="data-list" *ngFor="let item of data.results">{{ item.name }}</li>
  </ul>
</div>


<ng-template #notfound>
  <div class="not-found">Not Found</div>
</ng-template>
