<div class="test" data-scroll-container>
<div id="particles-js"></div>

<header #header>
  <h1 #mainTitle class="main-title">{{ title }}</h1>

  <nav class="main-nav">
    <ul #navList class="nav-lists">
      <li class="nav-list">
        <a data-cursor="-color-black"  data-cursor-img="https://i.redd.it/flatqebyxtu41.jpg" data-cursor-stick class="btn" routerLink="star-war" routerLinkActive="active">Starwar</a>
      </li>
      <!-- <li class="nav-list">
        <a data-cursor="-color-black"  data-cursor-img="https://i.redd.it/flatqebyxtu41.jpg" data-cursor-stick class="btn" routerLink="star-war" routerLinkActive="active">Starwar</a>
      </li> -->
    </ul>
  </nav>
</header>



<div class="container" #container>
  <router-outlet></router-outlet>
</div>
</div>
