<div class="data-box">
  <dl>
    <dt>Name</dt>
    <dd>: {{ data.name }}</dd>

    <dt>Diameter</dt>
    <dd>: {{ data.diameter }}</dd>

    <dt>Rotaion Period</dt>
    <dd>: {{ data.rotation_period }}</dd>

    <dt>Orbital Period</dt>
    <dd>: {{ data.orbital_period }}</dd>

    <dt>Gravity</dt>
    <dd>: {{ data.gravity }}</dd>

    <dt>Population</dt>
    <dd>: {{ data. population }}</dd>

    <dt>Climate</dt>
    <dd>: {{ data.climate }} kg</dd>

    <dt>Terrain</dt>
    <dd>: {{ data.terrain }}</dd>

    <dt>Surface Water</dt>
    <dd>: {{ data.surface_water }}</dd>

    <dt>Create</dt>
    <dd>: {{ data.created | date: 'medium'}} kg</dd>

    <dt>Edit</dt>
    <dd>: {{ data.edited | date: 'medium'}} }} kg</dd>

  </dl>

</div>
