<div class="data-box">
  <dl>
    <dt>Name</dt>
    <dd>: {{ data.name }}</dd>

    <dt>Birth Year</dt>
    <dd>: {{ data.birth_year }}</dd>

    <dt>Eye Color</dt>
    <dd>: {{ data.eye_color }}</dd>

    <dt>Gender</dt>
    <dd>: {{ data.gender }}</dd>

    <dt>Hair Color</dt>
    <dd>: {{ data.hair_color }}</dd>

    <dt>Height</dt>
    <dd>: {{ data.name }}</dd>

    <dt>Mass</dt>
    <dd>: {{ data.mass }} kg</dd>

    <dt>Skin Color</dt>
    <dd>: {{ data.skin_color }} kg</dd>

    <dt>Create</dt>
    <dd>: {{ data.created | date: 'medium'}} kg</dd>

    <dt>Edit</dt>
    <dd>: {{ data.edited | date: 'medium'}} }} kg</dd>

  </dl>

</div>
