@import '../node_modules/locomotive-scroll/dist/locomotive-scroll.css';
@import './assets/css/cb-btn.css';
@import './assets/css/np-btn.css';
@import url('https://fonts.cdnfonts.com/css/star-wars');


@font-face {
  font-family: matter;
  src: url(./assets/fonts/matter/matter-regular.woff2);
}

:root {
  font-family: matter;
  font-size: 16px;
  line-height: calc(1em + 0.5rem);

  --white: #fff;
  --black: #000;
  --primary-clr: #feda4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: matter;
  color: var(--primary-clr);
}

::selection {
  color: var(--black);
  background: var(--primary-clr);
}


body {
  background-color: var(--black);
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  position: relative;
}

button {
  cursor: pointer;
}

.container {
  margin-top: 3rem;
}

.main-nav {
  position: absolute;
  bottom: 0;
}

.main-title {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(2.6rem, 1.6818rem + 3.6364vw, 6rem);
  text-transform: uppercase;
  font-weight: 900;
}

.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  padding: .5rem 2rem;
  font-size: clamp(1.5rem, 1.3831rem + 0.5195vw, 2rem);
}

.test {
  height: 200vh;
}
.-color-black {
  color: #000;
}

.loading {
  font-size: clamp(2rem, 1.2987rem + 3.1169vw, 5rem);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  text-transform: uppercase;
}

.paginate {
  display: flex;
  gap: clamp(1rem, 0.5325rem + 2.0779vw, 3rem);
}

.search-form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-box {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #feda4a;
  height: clamp(3.125rem, 2.3945rem + 3.2468vw, 6.25rem);
  font-size: clamp(1rem, 0.5325rem + 2.0779vw, 3rem);
  flex: 1;
  padding-left: clamp(1rem, 0.5325rem + 2.0779vw, 3rem);;
}

.not-found {
  font-size: clamp(2rem, 1.2987rem + 3.1169vw, 5rem);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  text-transform: uppercase;
}

.paginate-no {
  font-size: clamp(1rem, 0.7662rem + 1.039vw, 2rem);
}

.data-box {
  margin-top: 5rem;
}

.data-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.25rem, 0.0747rem + 0.7792vw, 1rem);
}


.data-list {
  padding: clamp(1rem, 0.7662rem + 1.039vw, 2rem);
  font-size: clamp(2rem, 1.7662rem + 1.039vw, 3rem);
  cursor: pointer;
}

.data-list:hover {
  background: #feda4a;
  color: #000;
}

.search {
  position: relative;
}

.search-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: clamp(1rem, 0.5325rem + 2.0779vw, 3rem);
}

.search-remove {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: clamp(1rem, 0.5325rem + 2.0779vw, 3rem);
}
