<div class="data-box">
  <dl>
    <dt>Name</dt>
    <dd>: {{ data.name }}</dd>

    <dt>Classification</dt>
    <dd>: {{ data.classification }}</dd>

    <dt>Designation</dt>
    <dd>: {{ data.designation }}</dd>

    <dt>Average Height</dt>
    <dd>: {{ data.average_height }}</dd>

    <dt>Average life span</dt>
    <dd>: {{ data.average_lifespan }}</dd>

    <dt>Eye colors</dt>
    <dd>: {{ data.eye_colors }}</dd>

    <dt>Hair Colors</dt>
    <dd>: {{ data.hair_colors }} kg</dd>

    <dt>Skin Colors</dt>
    <dd>: {{ data.skin_colors }} kg</dd>

    <dt>Language</dt>
    <dd>: {{ data.language }} kg</dd>

    <dt>Create</dt>
    <dd>: {{ data.created | date: 'medium'}} kg</dd>

    <dt>Edit</dt>
    <dd>: {{ data.edited | date: 'medium'}} }} kg</dd>

  </dl>

</div>
